body {
    font: arial;
    font-size: 14px;
    color: #000000;
    background-color: #cafff9; 
    
     <div class="row">
   <div class="col-md-4">Content for your first column</div>
   <div class="col-md-4">Content for your second column</div>
   <div class="col-md-4">Content for your third column</div>
 </div>
}


